<!DOCTYPE html>
<html>

    <head>
        <title>TDD WebComic</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/webcomic_client.js"></script>
        <link href="/main.css" rel="stylesheet">
    </head>

    <body>
        <script>

        </script>
        <div>

            <div>
                <div class="previous"><a href="javascript:previous(pageNumber);"><< Previous</a></div>
            </div>

            <br/>

            <div>
                <div class="next"><a href='/next'>Next >></a></div>
            </div>

            <br/>

            <div>
                <div class="next"><a href='/all'>**Show All Panels</a></div>
            </div>

            <div>
                <div class="page-content">
                    <h1> <img src="/pages/{{page_number}}.jpg"></h1>
                </div>
            </div>

        </div>
    </body>

</html>
